 <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=message.author.username) }}">
                    <img src="{{ message.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=message.author.username) }}">
                            {{ message.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(message.timestamp).fromNow())}}
                <br>
                <span id="post{{ message.id }}">{{ message.body }}</span>
                {% if message.author.username == current_user.username %}
                <br>
                <br><a href="{{ url_for('main.delete_post', post=message.id) }}">Delete post</br>
                {% endif %}
            </td>
        </tr>
    </table>