{% extends "base.html" %}

{% block app_content %}

<H2>User list</H2>
 <nav aria-label="...">
    <table class="table table-hover">
    {% for one_user in users_dict %}
        <tr>
        <td width="70px">
        <p><a href="{{ url_for('user', username=one_user.username) }}">Profile</a>
           <a href="{{ url_for('user', username=one_user.username) }}"><img src="{{ one_user.avatar }}" /></a>
        {% if one_user.username == current_user.username %}
            <b>{{ one_user.username }}</b>
            <b>{{ one_user.email }}</b>
        {% else%}
            {{ one_user.username }}
            {{ one_user.email }}
        {% endif %}
            {% if one_user.followers > 0 %}
            <i>{{ one_user.followers }} followers</i>
            {% endif %}
        </p>
        </td>
        </tr>
    {% endfor %}
    </table>
</nav>

{% endblock %}